@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
/* Navigation style starts */
.nav-container{
  width: 100%;
  height: 130px;
  margin: 0 auto;
}
.nav-content-container{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 2.8rem;
  margin-top: 2rem;
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
}
.icon-logo{
  width: 70px;
  height: 45px;
  margin-left: 20px;
}
.icon-logo:hover{
  width: 80px;
  height: 55px;
  margin-top: 6px;
  filter:drop-shadow(10px 8px 20px blue);
}
.icon-logo i{
  font-size: 43px;
  margin-left: 10px;
}
.icon-logo a{
  color: white;
}
.nav-title{
  width: 470px;
  height: 49px;
  border: 1px solid aqua;
  border-radius: 2.8rem;
  gap: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
}
.nav-title:hover{
  width: 475px;
  height: 52px;
  box-shadow: 10px 8px 20px blue;
}
.nav-title p{
  font-weight: 400;
  font-size: 1rem;
}

.nav-title a{
  color: black;
  text-decoration: none;
}
.nav-title a:hover{
  box-shadow: 8px 8px 40px blueviolet;
}
.nav-bars{
  display:none;
  font-size: 2rem;
  margin-right: 1rem;
}
/* Navigation style ends */
/* Header style starts */
.header-container{
  max-width: 100%;
  height: 650px;
  margin: 0 auto;
}
.header-content-container{
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-banner{
  width: 50%;
  height: 400px;
}
.header-img-property{
  width: 80%;
  height: 380px;
  margin-top: 1rem;
  border-radius: 50px;
  box-shadow: 15px 5px 40px green;
}
.header-img-property:hover{
  width: 82%;
  height: 400px;
  box-shadow: 10px 7px 40px skyblue;
}
.header-img-property img{
  width: 100%;
  height: 100%;
   border-radius: 50px;
}
.header-letter-banner{
  width: 50%;
  height: 400px;
  border-radius: 30% 3%;
  background-image:  linear-gradient(
    45deg,
   rgba(255, 255, 255, 0),
   rgba(255, 255, 255, 0.5)),
   url("../IMAGE/background-image.avif");
  
}
.header-letter-banner:hover{
  width: 53%;
  height: 410px;
  box-shadow: 10px 8px 30px skyblue;
}
.header-letter-starts{
  width: 90%;
  height: 370px;
  margin: 0 auto;
  text-align: center;
}
.header-title h3{
  font-weight: 900;
  font-size: 3rem;
  color: white;
  margin-top: 3rem;
}
.header-description p{
  font-weight: 400;
  font-size: 1rem;
  margin-top: 3rem;
  color: white;
}
.btn-primary{
  width: 60%;
  height: 70px;
  margin: 0 auto;
  margin-top: 3rem;
}
.btn-primary button{
  width: 100%;
  height: 56px;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background-color: #79096f;
  border-radius: 2.8rem;
  border: none;
  box-shadow: 5px 5px 10px #14ede0;
}
.btn-primary a{
  color: white;
  text-decoration: none;
}
/* Header style ends */
/* Main style starts */
.main-section{
  font-family: "Azeret Mono", monospace; 
}
.main-container{
  max-width: 80%;
  height: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.main-content-container{
  width: 80%;
  height: 1300px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #92b3c0;
}
/* banner style starts */
.main-content-banner-property{
  width: 80%;
  height: 113px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  width: 100%;
  height: 37px;
  margin: 0 auto;
}
.banner-title h4{
  font-weight: 900;
  font-size: 2rem;
}
.banner-description{
  width: 100%;
  height: 52px;
  margin-top: 1rem;
}
.banner-description p{
  font-weight: 400;
  font-size: 1rem;
}
/* banner-style ends */
/* Development-1 style starts */
.main-content-development-1{
  width: 100%;
  height: 336px;
  margin-top: 6rem;
}
.development-content-container{
  width: 90%;
  height: 240px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.development-banner-property{
  width: 50%;
  height: 220px;
}
.development-banner-title{
  width: 80%;
  height: 72px;
}
.development-banner-title h4{
  font-weight: 800;
  font-size: 24px;
}
.development-banner-description{
  width: 100%;
  height: 65px;
  margin-top: .8rem;
}
.development-banner-description p{
  font-weight: 400;
  font-size: 1rem;
}
.development-btn-primary{
  width: 50%;
  height: 47px;
  margin-top: 2rem;
}
.development-btn-primary button{
  padding: .75rem 1.25rem .75rem 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  background-color: #79096f;
}
.development-btn-primary a{
  color: white;
  text-decoration: none;
}
.development-image-property{
  width: 40%;
  height: 240px;
}
.development-image-property img{
  width: 100%;
  height: 100%;
}
/* Development-1 style ends */
/* Development-2style starts */
.main-content-development-2{
  width: 100%;
  height: 336px;
  margin: 0 auto;
  margin-top: 2rem;
}
.modern-content-container{
  width: 90%;
  height: 240px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modern-image-property{
  width: 30%;
  height: 240px;
}
.modern-image-property img{
  width: 100%;
  height: 100%;
}
.modern-banner-property{
  width: 60%;
  height: 220px;
}
.modern-banner-title{
  width: 100%;
  height: 72px;
}
.modern-banner-title h4{
  font-weight: 800;
  font-size: 1.5rem;
}
.modern-banner-description{
  width: 100%;
  height: 60px;
  margin-top: 1rem;
}
.modern-banner-description p{
  font-weight: 400;
  font-size: 1rem;
}
.modern-btn-primary{
  width: 50%;
  height: 47px;
  margin-top: 2rem;
}
.modern-btn-primary button{
  padding: .75rem 1.25rem .75rem 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #79096f;
  border: none;
  border-radius: 5px;
}
.modern-btn-primary a{
  color: white;
  text-decoration: none;
}
/* Development-2 style ends */
/* Development-3 style starts */
.main-content-development-3{
  width: 100%;
  height: 336px;
  margin: 0 auto;
  margin-top: 2rem;
}
.system-content-container{
  width: 90%;
  height: 240px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.system-content-banner-property{
  width: 50%;
  height: 220px;
}
.system-banner-title{
  width: 80%;
  height: 72px;
}
.system-banner-title h4{
  font-weight: 800;
  font-size: 1.5rem;
}
.system-banner-description{
  width: 100%;
  height: 60px;
  margin-top: 1rem;
}
.system-banner-description p{
  font-weight: 400;
  font-size: 1rem;
}
.system-btn-primary{
  width: 50%;
  height: 55px;
  margin-top: 2rem;
}
.system-btn-primary button{
  padding: .75rem 1.25rem .75rem 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #79096f;
  border: none;
  border-radius: 5px;
}
.system-btn-primary a{
  color: white;
  text-decoration: none;
}
.system-image-property{
  width: 30%;
  height: 240px;
}
.system-image-property img{
  width: 100%;
  height: 100%;
}
/* Development-3 style ends */

/* Responsive media styles */
 @media screen and (max-width: 576px) {
  .header-content-container,
  .development-content-container,
  .modern-content-container,
  .system-content-container{
    flex-direction: column;
  }
  .nav-title{
    display: none;
  }
  .nav-bars{
    display: block;
    font-size: 2rem;
    margin-right: 1rem;
  }

  /* header style starts */
  .header-container{
    max-width: 100%;
    height: 900px;
    margin: 0 auto;
  
  }
  .header-banner{
   width: 90%;
   height: 400px;
   margin: 0 auto;
  }
  .header-img-property{
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }
  .header-img-property:hover{
  width: 100%;
  height: 357px;
  box-shadow: 10px 7px 40px skyblue;
  }
  .header-letter-banner{
    width: 80%;
    height: 350px;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .header-letter-banner:hover{
  width: 82%;
  height: 355px;
  box-shadow: 10px 8px 30px skyblue;
  }
  .header-letter-starts{
    width: 100%;
    height: 348px;
    margin: 0 auto;
  }
  .header-title h3{
    font-weight: 900;
    font-size: 1.6rem;
  }
  .header-description p{
    font-weight: 400;
    font-size: 0.8rem;
    margin: 2rem;
    margin-top: 2rem;
  }
  .btn-primary{
    width: 70%;
    height: 80px;
    padding: 0.4rem 1rem 04rem 1rem;
    margin-top: .8rem;
  }
  .btn-primary a{
    font-weight: 900;
    font-size: 1rem;
  }
  /* Header style ends */
  /* Main styles starts */
  .main-container{
    width: 80%;
    height: 2030px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .main-content-container{
    width: 80%;
    height: 1950px;
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  .main-content-banner-property{
  width: 80%;
  height: 350px;
 }
.banner-title{
  width: 100%;
  height: 60px;
  margin-top: 1rem;
 }
 .banner-title h4{
  font-weight: 700;
  font-size: 1.5rem;
}
 .banner-description{
  width: 100%;
  height: 270px;
}
.banner-description p{
  font-weight: 400;
  font-size: 1rem;
}
/* Development 1 style starts */
.main-content-development-1{
  width: 100%;
  height: 460px;
  margin: 0 auto;
  margin-top: 2rem;
}
.development-content-container{
  width: 100%;
  height: 450px;
  margin: 0 auto;
}
.development-banner-property{
  width: 80%;
  height: 220px;
}
.development-banner-title{
  width: 100%;
  height: 50px;
}
.development-banner-title h4{
  font-weight: 800;
  font-size: 1rem;
}
.development-banner-description{
  width: 100%;
  height: 100px;
}
.development-banner-description p{
  font-weight: 400;
  font-size: .8rem;
}
.development-btn-primary{
  width: 50%;
  height: 47px;
}
.development-btn-primary button{
  padding: .5rem 1rem .5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
}
.development-image-property{
  width: 80%;
  height: 190px;
}
/* Development 1 style ends */
/* Development 2 style starts */
.main-content-development-2{
  width: 100%;
  height: 520px;
  margin: 0 auto;
}
.modern-image-property{
  width: 90%;
  height: 240px;
  margin: 0 auto;
  margin-top: -2rem;
}
.modern-banner-property{
  width: 90%;
  height: 240px;
  margin-top: 1rem;
}
.modern-banner-title{
  width: 100%;
  height: 66px;
}
.modern-banner-title h4{
  font-weight: 900;
  font-size: 1rem;
}
.modern-banner-description{
  width: 100%;
  height: 100px;
  margin-top: .8rem;
}
.modern-banner-description p{
  font-weight: 400;
  font-size: .8rem;
}
.modern-btn-primary{
  width: 50%;
  height: 47px;
}
.modern-btn-primary button{
  padding: .5rem 1rem .5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
}
/* Development 2 style ends */
/* Development 3 style starts */
.main-content-development-3{
  width: 100%;
  height: 540px;
  margin: 0 auto;
  margin-top: 1rem;
}
.system-content-container{
  width: 80%;
  height: 520px;
  margin: 0 auto;
  margin-top: 1rem;
}
.system-content-banner-property{
  width: 100%;
  height: 240px;
}
.system-banner-title{
  width: 100%;
  height: 50px;
}
.system-banner-title h4{
  font-weight: 600;
  font-size: 1rem;
}
.system-banner-description{
  width: 100%;
  height: 112px;
}
.system-banner-description p{
  font-weight: 400;
  font-size: .8rem;
}
.system-btn-primary{
  width: 60%;
  height: 47px;
}
.system-btn-primary button{
  padding: .5rem 1rem .5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
}
.system-image-property{
  width: 90%;
  height: -200px;
}
.system-image-property img{
  width: 100%;
  height: 100%;
}
/* Development 3 style ends */

}