@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
/* Navigation style starts */
.nav-container{
  width: 100%;
  height: 130px;
  margin: 0 auto;
  border: 2px solid ivory;
  background-color: ivory;
}
.nav-content-container{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 2.8rem;
  margin-top: 2rem;
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
}
.icon-logo{
  width: 70px;
  height: 45px;
  margin-left: 20px;
}
.icon-logo:hover{
  width: 80px;
  height: 55px;
  margin-top: 6px;
  filter:drop-shadow(10px 8px 20px blueviolet);
}
.icon-logo i{
  font-size: 43px;
  margin-left: 10px;
}
.icon-logo a{
  color: black;
}
.nav-title{
  width: 470px;
  height: 49px;
  border: 1px solid aqua;
  border-radius: 2.8rem;
  gap: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
}
.nav-title:hover{
  width: 475px;
  height: 52px;
  box-shadow: 10px 8px 20px blue;
}
.nav-title p{
  font-weight: 400;
  font-size: 1rem;
}

.nav-title a{
  color: black;
  text-decoration: none;
}
.nav-title a:hover{
  box-shadow: 8px 8px 40px blueviolet;
}
.nav-bars{
  display:none;
  font-size: 2rem;
  margin-right: 1rem;
}
/* Navigation style ends */
/* Header style starts */
.header-container{
  max-width: 100%;
  height: 650px;
  margin: 0 auto;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)),
   url("../IMAGE/website.webp");
   border: 1px solid aliceblue;
 
}
.header-content-container{
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-banner{
  width: 50%;
  height: 400px;
}
.header-img-property{
  width: 80%;
  height: 380px;
  margin-top: 1rem;
  border-radius: 50px;
  box-shadow: 15px 5px 40px green;
}
.header-img-property:hover{
  width: 82%;
  height: 400px;
  box-shadow: 10px 7px 40px skyblue;
}
.header-img-property img{
  width: 100%;
  height: 100%;
   border-radius: 50px;
}
.header-letter-banner{
  width: 50%;
  height: 400px;
  border-radius: 30% 3%;
  background-image:  linear-gradient(
    45deg,
   rgba(255, 255, 255, 0),
   rgba(255, 255, 255, 0.5)),
   url("../IMAGE/background-image.avif");
  
}
.header-letter-banner:hover{
  width: 53%;
  height: 410px;
  box-shadow: 10px 8px 30px skyblue;
}
.header-letter-starts{
  width: 90%;
  height: 370px;
  margin: 0 auto;
  text-align: center;
}
.header-title h3{
  font-weight: 900;
  font-size: 3rem;
  color: white;
  margin-top: 3rem;
}
.header-description p{
  font-weight: 400;
  font-size: 1rem;
  margin-top: 3rem;
  color: white;
}
.btn-primary{
  width: 60%;
  height: 70px;
  margin: 0 auto;
  margin-top: 3rem;
}
.btn-primary button{
  width: 100%;
  height: 56px;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background-color: #79096f;
  border-radius: 2.8rem;
  border: none;
  box-shadow: 5px 5px 10px #14ede0;
}
.btn-primary a{
  color: white;
  text-decoration: none;
}
/* Header style ends */


/* Responsive media styles */
 @media screen and (max-width: 576px) {
  .header-content-container{
    flex-direction: column;
  }
  .nav-title{
    display: none;
  }
  .nav-bars{
    display: block;
    font-size: 2rem;
    margin-right: 1rem;
  }

  /* header style starts */
  .header-container{
    max-width: 100%;
    height: 900px;
    margin: 0 auto;
  
  }
  .header-banner{
   width: 90%;
   height: 400px;
   margin: 0 auto;
  }
  .header-img-property{
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }
  .header-img-property:hover{
  width: 100%;
  height: 357px;
  box-shadow: 10px 7px 40px skyblue;
  }
  .header-letter-banner{
    width: 80%;
    height: 350px;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .header-letter-banner:hover{
  width: 82%;
  height: 355px;
  box-shadow: 10px 8px 30px skyblue;
  }
  .header-letter-starts{
    width: 100%;
    height: 348px;
    margin: 0 auto;

  }
  .header-title h3{
    font-weight: 900;
    font-size: 1.6rem;
  }
  .header-description p{
    font-weight: 400;
    font-size: 0.8rem;
    margin: 2rem;
    margin-top: 2rem;
  }
  .btn-primary{
    width: 70%;
    height: 80px;
    padding: 0.4rem 1rem 04rem 1rem;
    margin-top: 1rem;
  }
  .btn-primary a{
    font-weight: 900;
    font-size: 1rem;
  }
 }